version: "3.8"

services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-app
    env_file:
      - .env
    ports:
      - "8081:8081"
    restart: always
